<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar paciente</title>
    <link rel="stylesheet" href="../static/css/adicionar_e_agendar.css">
</head>
<body>
    <header>

    </header>
    <main>
        <section>
            <h1>CADASTRAR PACIENTE</h1>

            <div class="bloco-form">
                <form action="/adicionar_paciente" method="POST">
                    <!-- # Código[0], nome[1], espécie[2], raça[3], peso[4], email[5], nome-tutor[6]
                    # e telefone de contato [7]. -->
                    <div>
                        <label for="nome">Nome: </label>
                        <input type="text" id="nome" name="nome" placeholder="Do seu pet" required>
                    </div>

                    <div>
                        <label for="especie">Espécie do animal: </label>
                        <select id="especie" name="especie">
                            <option value="Cachorro">Cachorro</option>
                            <option value="Gato">Gato</option>
                            <option value="Coelho">Coelho</option>
                            <option value="Passaro">Pássaro</option>
                            <option value="Outro">Outro</option>
                        </select>
                    </div>

                    <div id="div_outros2" style="display: none">
                        <label for="outros">Escreva a espécie de seu animal: </label>
                        <input type="text" id="outros" name="outros" step="0.01" >
                    </div> 

                    <div>
                        <label for="raca">Raça do animal (opcional): </label>
                        <input type="text" id="raca" name="raca" placeholder="Pinscher, Chih-tzu...">
                    </div>

                    <div>
                        <label for="peso">Peso do animal (em kg): </label>
                        <input type="number" id="peso" name="peso" placeholder="(Somente números, em kg)"><br>
                    </div>

                    <div>
                        <label for="nome-tutor">Nome:</label>
                        <input type="text" id="nome-tutor" name="nome-tutor" placeholder="Do tutor" required><br>
                    </div>

                    <div>
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" name="email" placeholder="Do tutor" required>
                    </div>

                    <div>
                        <label for="telefone">Telefone de contato:</label>
                        <input type="number" id="telefone" name="telefone" placeholder="Do tutor" required><br>
                    </div>

                    <div>
                        <button type="submit" class="botao-especial">ADICIONAR</button>
                        <a href="/"><button class="botao-especial"> CANCELAR </button></a>
                    </div>
                </form>


                <script>
                        let especie = document.getElementById("especie")

                        especie.addEventListener("change", function() {
                            let valor = document.getElementById("especie").value
                            if (valor === "Outro") {
                                document.getElementById("div_outros2").style.display = "block"
                            } else {
                                document.getElementById("div_outros2").style.display = "none"
                            }
                        })

                </script>
                
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>
