<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar consulta</title>
    <link rel="stylesheet" href="../static/css/adicionar_e_agendar.css">
</head>
<body>
    <header class="cabecao">
        <img src="../static/img/logo.png" alt="" class="logo">
        <div>
            <a href="/"><button class="btn">HOME</button></a>
            <a href="lista_de_pacientes"><button class="btn">LISTA DE PACIENTES</button></a>
            <a href="calculadora_idade"><button class="btn">CALCULADORE DE IDADE</button></a>
            <a href="medicamento"><button class="btn">CALCULADORA DE MEDICAMENTOS</button></a>
        </div>
    </header>
    <main style="background-image: url(../static/img/textura-patas.png)">
        <section>
            <h1>Agendar consulta</h1>

            <div class="bloco-form">
                <form action="/agendar_consulta" method="POST">
                    <!-- # Código[0], nome[1], espécie[2], raça[3], peso[4], nome do tutor[5]
                    # e telefone de contato [6]. -->

                    <div>
                        <label for="nomes"> Nome do animal: </label><br>
                        <select id="nomes" name="nomes">
                            {% for paciente in pacientes %}
                            <option>{{paciente[1]}}</option>
                            {% endfor %}
                        </select> <br>
                    </div>

                    <div>
                        <label for="nome-tutor">Nome do tutor: </label><br>
                        <input type="text" id="nome-tutor" name="nome-tutor" required><br>
                    </div>

                    <div>
                        <label for="data">Data da consulta: </label><br>
                        <input type="date" id="data" name="data" required><br>
                    </div>

                    <div>
                        <label for="horario">Horário de atendimento (exemplo: 1706 = 17:06): </label><br>
                        <input type="number" id="horario" name="horario" required><br>
                    </div>

                    <div>
                        <label for="sintomas">Informe os sintomas do animal ou o motivo da consulta:</label><br>
                        <input type="text" id="sintomas" name="sintomas" required><br>
                    </div>

                    <div>
                        <button type="submit" class="botao-especial">ADICIONAR</button>
                    </div>
                </form>
            </div>
        </section>
        
    </main>
    <footer>
        <div class="cor_azul">
            <br>
        <div class="rodape">
            <br><br><br>
            <img src="../static/img/contatos_verdadeiro.png" alt="" class="redes">

        </div>
        <br>
        <div class="rodape2">
            <p>Info • Support • Marketing</p>
        </div>
        <br>
        <div class="rodape2">
            <p>Termos de Uso • Política de Privacidade</p>
        </div>
        <br>
        <div class="rodape2">
            <p>©2024 Dog Dodói</p>
        </div>
        <div class="divdiv"><img src="../static/img/logo2.png" alt="" class="logo2"></div>
        <br>
    </div>
    </footer>
</body>
</html>
