<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar dados de paciente</title>
    <link rel="stylesheet" href="../static/css/adicionar_e_agendar.css">
</head>
<body>
    <header class="cabecao">
        <img src="../static/img/logo.png" alt="" class="logo">
        <div>
            <a href="/"><button class="btn">HOME</button></a>
            <a href="lista_de_pacientes" class="mudar"><button class="btn">LISTA DE PACIENTES</button></a>
            <a href="calculadora_idade"><button class="btn">CALCULADORE DE IDADE</button></a>
            <a href="medicamento"><button class="btn">CALCULADORA DE MEDICAMENTOS</button></a>
        </div>
    </header>
    <main>

        <section>
            <h1>EDITAR PACIENTE</h1>

            <div class="bloco-form">
                <form action="/editar_paciente/{{ paciente[0] }}" method="post">
                    <label for="nome">Nome do Animal:</label>
                    <input type="text" id="nome" name="nome" value="{{ paciente[1] }}" required>
                    <label for="especie">Espécie do animal: </label>
                    <select id="especie" name="especie">
                        <option value="Cachorro">Cachorro</option>
                        <option value="Gato">Gato</option>
                        <option value="Coelho">Coelho</option>
                        <option value="Passaro">Pássaro</option>
                        <option value="Outro">Outro</option>
                    </select>

                    <div id="div_outros2" style="display: none">
                        <label for="outros">Escreva a espécie de seu animal: </label>
                        <input type="text" id="outros" name="outros" step="0.01" >
                    </div> 

                    <div>
                        <label for="raca">Raça:</label>
                        <input type="text" id="raca" name="raca" value="{{ paciente[3] }}" required>
                    </div>

                    <div>
                        <label for="peso">Peso:</label>
                        <input min = 0.1 step = 0.000001 type="text" id="peso" name="peso" value="{{ paciente[4] }}" required>
                    </div>

                    <div>
                        <label for="nome-tutor">Nome Tutor:</label>
                        <input type="text" id="nome-tutor" name="nome-tutor" value="{{ paciente[5] }}" required>
                    </div>
                    <div>
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" name="email" value="{{ paciente[6] }}" required>
                    </div>
                    <div>
                        <label for="telefone">Telefone:</label>
                        <input type="text" id="telefone" name="telefone" value="{{ paciente[7] }}" required>
                    </div>
                    <div>
                        <button type="submit" class="botao-especial">Salvar Alterações</button>
                    </div>
                </form>
                <script>
                        let especie = document.getElementById("especie")

                        especie.addEventListener("change", function() {
                            let valor = document.getElementById("especie").value
                            if (valor === "Outro") {
                                document.getElementById("div_outros2").style.display = "block"
                            } else {
                                document.getElementById("div_outros2").style.display = "none"
                            }
                        })

                </script>
            </div>
        </section>
    </main>
    <footer>
        <div class="cor_azul">
            <br>
        <div class="rodape">
            <br><br><br>
            <img src="../static/img/contatos_verdadeiro.png" alt="" class="redes">

        </div>
        <br>
        <div class="rodape2">
            <p>Info • Support • Marketing</p>
        </div>
        <br>
        <div class="rodape2">
            <p>Termos de Uso • Política de Privacidade</p>
        </div>
        <br>
        <div class="rodape2">
            <p>©2024 Dog Dodói</p>
        </div>
        <div class="divdiv"><img src="../static/img/logo2.png" alt="" class="logo2"></div>
        <br>
    </div>
    </footer>

</body>
</html>