  <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Dodói</title>
    <link rel="stylesheet" href="../static/css/inicio.css">
</head>
<body>
    <header class="cabecao">
        <img src="../static/img/logo.png" alt="" class="logo">
        <div>
            <a href="/"><button class="btn">HOME</button></a>
            <a href="calculadora_idade"><button class="btn">CALCULADORE DE IDADE</button></a>
            <a href="medicamento"><button class="btn">CALCULADORA DE MEDICAMENTOS</button></a>
        </div>
    </header>
    <main>
        <section>
            <div class="inicial">
            <img src="../static/img/gato_cachorro.png" alt="" class="gato_cachorro"> 
            <!-- Imagem ilustrativa com texto embaixo -->
             <div class="ota_div">
             <h1>QUEM SOMOS NÓS</h1>
             <br><br><br><br><br><br><br>   
            <p class="texto1"> Na Clínica Veterinária Dog Dodoi, priorizamos a comunicação transparente,
                 cuidados personalizados e, acima de tudo, o carinho pelos animais.
                  Navegue pelo nosso site para conhecer mais sobre nossos serviços,
                   agendar consultas e acessar recursos informativos sobre o bem-estar animal.
                Estamos aqui para sermos a extensão do seu cuidado e amor pelos seus animais de estimação.
                 Sinta-se à vontade para explorar nosso site e descobrir como podemos cuidar
                  da saúde e felicidade dos seus amigos peludos.
            </p>
            </div>
            <img src="../static/img/divisa.png" alt="" class="divisa">
            </div>
        </section>

        <section>
            <p>Lista de Pacientes</p>
            <ul>

            <!--  Código[0], nome[1], espécie[2], raça[3], peso[4], nome do tutor[5]
            e telefone de contato [6]. -->

                {% for paciente in pacientes %}
                <li>{{ paciente[1] }} | {{ paciente[2] }} | {{ paciente[3] }} | {{ paciente[4] }} | {{ paciente[5] }} | {{ paciente[6] }} | {{ paciente[7]}}
                    <ul>
                        <li><a href="/editar_paciente/{{ loop.index0 }}">Editar</a></li> <!-- Link para editar as informações do paciente -->
                    </ul>
                </li>
                {% endfor %}
            </ul>
            <a href="/adicionar_paciente">Adicionar Paciente</a>
            <!-- Botão de editar aqui-->
        </section>

        <section>
            <p>Lista de Consultas</p>
        <ul>
            {% for consulta in consultas %}
                <li>{{ consulta[0] }} | {{ consulta[1] }} | {{ consulta[2] }} | {{ consulta[3] }} | {{ consulta[4] }} | {{ consulta[5] }} | {{ consulta[6] }}</li>
                <ul>
                    <li><a href="/cancelar_consulta/{{ loop.index0 }}">Cancelar Consulta</a></li> <!-- Correção aqui -->
                </ul>
            {% endfor %}
        </ul>

            <a href="/agendar_consulta">Agendar consulta</a>

        </section>

    </main>
    <footer>

    </footer>
</body>
</html>