  <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Dodói</title>
    <link rel="stylesheet" href="../static/css/inicio.css">
</head>
<body>
    <header class="cabecao">
        <img src="../static/img/logo.png" alt="" class="logo">
        <div>
            <a href="/"><button class="btn">HOME</button></a>
            <a href="lista_de_pacientes"><button class="btn">LISTA DE PACIENTES</button></a>
            <a href="calculadora_idade"><button class="btn">CALCULADORE DE IDADE</button></a>
            <a href="medicamento"><button class="btn">CALCULADORA DE MEDICAMENTOS</button></a>
        </div>
    </header>

    <main class="fundo">
        <div class="titulo">
            <h1 class="titulo">DOG DODÓI</h1>
            <p class="slogan">A GARANTIA DE UM PET SAUDÁVEL!
            </p>
            <a href="/adicionar_paciente"><button class="conferir">CONFIRA AQUI</button></a>
        <img src="../static/img/cachorro_fofo.png" alt="" class="imagem">
        </div>
        <section>
            <div class="inicial">
            <img src="../static/img/gato_cachorro.png" alt="" class="gato_cachorro"> 
            <!-- Imagem ilustrativa com texto embaixo -->
             <div>
             <h2 class="hwa">QUEM SOMOS NÓS?</h2>  
            <p class="texto1"> Na Clínica Veterinária Dog Dodói, priorizamos a comunicação transparente,
                 cuidados personalizados e, acima de tudo, o carinho pelos animais.
                  Navegue pelo nosso site para conhecer mais sobre nossos serviços,
                   agendar consultas e acessar recursos informativos sobre o bem-estar animal.
                Estamos aqui para sermos a extensão do seu cuidado e amor pelos seus animais de estimação.
                 Sinta-se à vontade para explorar nosso site e descobrir como podemos cuidar
                  da saúde e felicidade dos seus amigos peludos.
            </p>
            </div>
            </section>
            <br>

            <!-- <div class="fundo"> -->
                <h2 class="titulo2">
                    CONHEÇA NOSSA EQUIPE
                </h2>
                <img src="../static/img/patinha.png" alt="" class="patinha">
                <br>
            <section>
            <div class="medica">
                <img src="../static/img/lais_e_cadela.png" alt="" class="igin"> 
            <!-- Imagem ilustrativa com texto embaixo -->
             
             <h3 class="lais">LAIS SINATRA</h3>  
            <p class="texto2"> "Meu nome é Laís e sou uma enfermeira dedicada e apaixonada pela 
                saúde e bem-estar dos meus pacientes. Com uma sólida formação em enfermagem e uma 
                vocação para cuidar dos outros, estou comprometida em proporcionar o mais alto nível 
                de cuidado e conforto a todos que buscam os meus serviços."</p>
            </div>
<br>
            <div class="medica">
            <img src="../static/img/igor_cachorro.png" alt="" class="laizin"> 
            <!-- Imagem ilustrativa com texto embaixo -->
             
             <h3>IGOR CERAZ</h3>  
            <p class="texto3"> "Meu nome é Igor e sou apaixonado por cuidar dos nossos amigos 
                peludos! Com uma formação sólida em medicina veterinária e anos de experiência 
                prática, estou aqui para oferecer os melhores cuidados possíveis aos seus animais 
                de estimação."</p>
            </div>
            <img src="../static/img/osso.png" alt="" class="osso">
        </section>

        <br><br>

    </main>
    <footer>
        <div class="cor_azul">
            <br>
        <div class="rodape">
            <br><br><br>
            <img src="../static/img/contatos_verdadeiro.png" alt="" class="redes">

        </div>
        <br>
        <div class="rodape2">
            <p>Info • Support • Marketing</p>
        </div>
        <br>
        <div class="rodape2">
            <p>Termos de Uso • Política de Privacidade</p>
        </div>
        <br>
        <div class="rodape2">
            <p>©2024 Dog Dodói</p>
        </div>
        <div class="divdiv"><img src="../static/img/logo2.png" alt="" class="logo2"></div>
        <br>
    </div>
    </footer>
</body>
</html>