<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <a href="calculadora_idade.html"><button>Calculadora Idade</button></a>
        <button>Calculadora Soro</button>
        <button>Calculadora Medicamento</button>
    </header>
    <main>
        <div>
            <H1>Lista de Pacientes</H1>
            <br>
            <!-- onde vai ficar as listas dos pacientes -->
            <br>
            <button>Adicionar Paciente</button>
        </div>
        <br><br>
        <div>
            <h1>Consultas Marcadas</h1>
                <br>
            <!--Onde vai ficar as consultas marcadas -->
                <br>
            <button>Marcar Consultas</button>
        </div>
    </main>


</body>
</html>