  <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Dodói</title>
    <link rel="stylesheet" href="../static/css/lista_de_pacientes.css">
    <link rel="shortcut icon" href="../static/img/logo2.png" type="image/x-icon">
</head>
<body>
    <header class="cabecao">
        <img src="../static/img/logo.png" alt="" class="logo">
        <div>
            <a href="/"><button class="btn">HOME</button></a>
            <a href="lista_de_pacientes"><button class="btn">LISTA DE PACIENTES</button></a>
            <a href="calculadora_idade"><button class="btn">CALCULADORE DE IDADE</button></a>
            <a href="medicamento"><button class="btn">CALCULADORA DE MEDICAMENTOS</button></a>
        </div>
    </header>

    <main class="fundo">

        <section>
            
            <p class="centraliza">Lista de  Pacientes</p>
            
                <br><br>
            {% for paciente in pacientes %}
            <div class="quadro_paciente">
                      
                <div>
                    <br>
                    <div class="contato">
                            
                        <p class="nome">{{ paciente[1] }}</p>
                        <br>
                        <p>Nome do pet: <span class="preto">{{ paciente[1] }}</span> </p>
                        <p>Animal: <span class="preto">{{ paciente[2] }}</span></p>
                        <p>Raça: <span class="preto">{{ paciente[3] }}</span> </p>
                        <p>Peso: <span class="preto">{{ paciente[4] }}</span> </p>
                        <p>Nome do tutor: <span class="preto">{{ paciente[5] }}</span> </p>
                        <p>E-mail: <span class="preto">{{ paciente[6] }}</span> </p> 
                        <p>Telefone de contato: <span class="preto">{{ paciente[7]}}</span></p>
                        <br>
                    </div>
                    <div class="botoes">
                        <a href="/editar_paciente/{{ loop.index0 }}"><button>Editar</button></a>
                      
                    <a href="/cancelar_paciente/{{ loop.index0 }}"><button class="botao">Excluir Paciente</button></a> <!-- Correção aqui -->
                </div>
                </div>
            </div>
            <br><br>
            {% endfor %}
            
            <a href="/adicionar_paciente"><button class="butaozin">Adicionar Paciente</button></a>
            <!-- Botão de editar aqui-->
        </section>

        <br><br>

        <section>
        <p class="centraliza">Lista de Consultas</p>
        <br><br>
        {% for consulta in consultas %}
        <div class="quadro_paciente20">
            <div>
                <br>
                <div class="contato">

                    <p class="nome">{{ consulta[0] }} </p>
                    <br>
                    <p>Nome do pet: <span class="preto">{{ consulta[1] }}</span></p> 
                    <p>Horario: <span class="preto">{{ consulta[2] }}</span></p>
                    <p>Data: <span class="preto">Data: {{ consulta[3] }}</span></p>
                    <p>Nome do Tutor: <span class="preto">{{ consulta[4] }}</span></p>
                    <p>Sintomas: <span class="preto">{{ consulta[5] }}</span></p>
                    
                    
                    <a href="/cancelar_consulta/{{ loop.index0 }}" ><button class="botao20">Excluir Consulta</button></a> 
                    
                </div>
            </div>
        </div>
        {% endfor %}

            <a href="/agendar_consulta"><button class="butaozin"> Marcar consulta</button></a>

        </section>

        <br><br>

    </main>
    <footer>
        <div class="cor_azul">
            <br>
        <div class="rodape">
            <br><br><br>
            <img src="../static/img/contatos_verdadeiro.png" alt="" class="redes">

        </div>
        <br>
        <div class="rodape2">
            <p>Info • Support • Marketing</p>
        </div>
        <br>
        <div class="rodape2">
            <p>Termos de Uso • Política de Privacidade</p>
        </div>
        <br>
        <div class="rodape2">
            <p>©2024 Dog Dodói</p>
        </div>
        <div class="divdiv"><img src="../static/img/logo2.png" alt="" class="logo2"></div>
        <br>
    </div>
    </footer>
</body>
</html>