<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Medicamento</title>
    <link rel="stylesheet" href="../static/css/medicamento.css">
</head>
<body>
    <header class="cabecao">
        <img src="../static/img/logo.png" alt="" class="logo">
        <div>
            <a href="/"><button class="btn">HOME</button></a>
            <a href="calculadora_idade"><button class="btn">CALCULADORE DE IDADE</button></a>
            <a href="medicamento"><button class="btn">CALCULADORA DE MEDICAMENTOS</button></a>
        </div>
    </header>
    <main style="background-image: url(../static/img/fundoosso.png);">
    <h1>Formulário de Medicamento</h1>
    <div class="container">
        <div class="espacamento"></div>
            <div class="calculadora1">
                <br><br>
            <h2 class="titulo1">Quantidade de mililitros de soro: </h2>
            <br><div class="formulario">
            <form action="/medicamento" method="post">
                <label for="grau_desidratacao">Grau de Desidratação:</label>
                <select id="grau_desidratacao" name="grau_desidratacao" class="itens">
                    <option value="Leve">Leve</option>
                    <option value="Moderada">Moderada</option>
                    <option value="Grave">Grave</option>
                </select>
                <br><br>
                <label for="peso_animal">Peso do Animal (em kg):</label>
                <input type="number" id="peso_animal" name="peso_animal" step="0.01" required class="itens">
                <br><br><br><br>
                <button type="submit" class="btn43">Calcular Soro</button>

                </form>
            </div>
                {% if volume_total %}
                    {{ volume_total }} ml
                {% endif %}
            </div>
        <div class="espacamento"></div>
</div>
<br>


<br>
<div class="container">
    <div class="espacamento"></div>
        <div class="calculadora1">
            <br><br>
<h2 class="titulo1">Miligramas/peso corporal do medicamento: </h2>
<br><div class="formulario"></div>
        <form action="/dose" method="post">
            <label for="remedio">Escolha o medicamento:</label>
            <select id="remedio" name="remedio" class="itens">
                <option value="Petrilan">Petrilan</option>
                <option value="Canidexa">Canidexa</option>
                <option value="Felinoflam">Felinoflam</option>
                <option value="Puprilon">Puprilon</option>
                <option value="Meowmed">Meowmed</option>
                <option value="Vetranix">Vetranix</option>
                <option value="Caniforte">Caniforte</option>
                <option value="FeliCure">FeliCure</option>
                <option value="Pawsitrex">Pawsitrex</option>
                <option value="WoofGuard">WoofGuard</option>
                <option value="Outro">Outro</option>
            </select>
            <br><br>
            <div id="div_outros" style="display: none">
                <label for="outros">Escreva o valor da dose recomendada de seu medicamento: </label>
                <input type="number" id="outros" name="outros" step="0.01" class="itens">
            </div>

            <br>
            <label for="peso_animal2">Peso do Animal (em kg):</label>
            <input type="number" id="peso_animal2" name="peso_animal2" step="0.01" required class="itens">
            <br><br><br><br>
            <button type="submit" class="btn43">Calcular</button>

            </form>
            {% if dose %}
                {{ dose }} ml/kg
            {% endif %}
            <br><br><br>
        </div>
        <div class="espacamento"></div>
    
</div>
<br>
        <script>
            let remedio = document.getElementById("remedio")

            remedio.addEventListener("change", function() {
                let valor = document.getElementById("remedio").value
                if (valor === "Outro") {
                    document.getElementById("div_outros").style.display = "block"
                } else {
                    document.getElementById("div_outros").style.display = "none"
                }
            })

        </script>
        
    <!-- <a href="/"><button> Voltar </button></a> -->
    
</main>
<footer>
    <div class="cor_azul">
        <br>
    <div class="rodape">
        <br><br><br>
        <img src="../static/img/contatos_verdadeiro.png" alt="" class="redes">

    </div>
    <br>
    <div class="rodape2">
        <p>Info • Support • Marketing</p>
    </div>
    <br>
    <div class="rodape2">
        <p>Termos de Uso • Política de Privacidade</p>
    </div>
    <br>
    <div class="rodape2">
        <p>©2024 Dog Dodói</p>
    </div>
    <div class="divdiv"><img src="../static/img/logo2.png" alt="" class="logo2"></div>
    <br>
</div>
</footer>
</body>
</html>